.box-container {
  display: grid;
  grid-template-columns: 3fr 1fr;
}
@media screen and (min-width: 768px) {
  .box-container {
    display: grid;
    grid-template-columns: 3fr 0fr;
  }
}
@media screen and (min-width: 375px) {
  .box-container {
    display: grid;
    grid-template-columns: 3fr 0fr;
  }
}
